:root {
  --logo-color: rgba(35, 31, 32, 1);
  --acsent-collor: #f7941e;
  --background-grey: #f1f1f2;
}
body {
  font-family: 'Gilroy';
  font-style: normal;
  box-sizing: border-box;
}
.container {
  width: 1440px;
  margin: 0px auto;
  /* outline: 3px solid green; */
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul,
ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}

.hero {
  display: flex;
}

.hero-txt {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 150px;
}

.hero-title {
  margin-bottom: 36px;

  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.23;
  color: black;
}

.hero-text {
  margin-bottom: 52px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.hero-link {
  padding: 20px 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  background: #f7941e;
  color: #ffffff;
}

.hero-img {
  float: right;
  width: 50%;
}
